<div id="comment-form">
  <% @comments.each do |comment| %>
      <li>
        <%= link_to gravatar_for(comment.user, size: Settings.comment.avatar.size), comment.user%>
        <span>
          <span class="user"><%= link_to comment.user.name, comment.user %></span>
          <span class="timestamp">
            <%= time_ago_in_words(comment.created_at)%> <%= t".ago" %>
          </span>
          <span>
            <% if comment.user.current_user?(current_user) %>
              <%= link_to t(".edit"), edit_comment_path(comment), remote: true %>
              <%= link_to t(".delete"), comment, method: :delete,
                data: {confirm: t(".confirm")}, remote: true %>
            <% end %>
          </span>
          <span class="content"><p><%= comment.content %></p></span>
        </span>
        <hr/>
      </li>
  <% end %>
</div>

