<li>
  <%= link_to gravatar_for(entry.user, size: Settings.entry.avatar.size), entry.user%>
  <span>
    <span class="user"><%= link_to entry.user.name, entry.user %> </span>
    <span class="timestamp">
      <%= t ".entry" %> <%= time_ago_in_words(entry.created_at)%> <%= t ".ago" %>
    </span>
  </span>
  <span class="title"><%= link_to entry.title, entry_path(entry.id)%></span>
</li>
