<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="form-group col-md-12">
  <%= form_tag entries_path, method: "get", enforce_utf8: false do %>
    <div class="col-md-10">
      <%= text_field_tag :search, params[:search], class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= submit_tag t(".search"), :name => nil, class: "btn btn-success", width: "10px"  %>
    </div>
  <% end %>
</div>

<ul class="entries">
  <% @entries.each do |entry| %>
    <li>
      <%= link_to gravatar_for(entry.user, size: Settings.entry.avatar.size), entry.user%>
      <span>
        <span class="user"><%= link_to entry.user.name, entry.user %> </span>
        <span class="timestamp">
          <%= t ".entry" %> <%= time_ago_in_words(entry.created_at)%> <%= t ".ago" %>
        </span>
      </span>
      <span class="title"><%= link_to entry.title, entry_path(entry.id)%></span>
    </li>
  <% end %>
</ul>
<%= paginate @entries, theme: "twitter-bootstrap-3" %>
