<div class="entry-article">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <h1 class="title"><%= @entry.title %></h1>
        <span>
          <%= t ".author" %> <%= link_to @entry.user.name, @entry.user%>
          <br/>
          <%= t ".date" %> <%= @entry.created_at.strftime("%H:%M %d/%m/%Y") %>
        </span>
      </div>
      <div class="col-md-4">
        <% if @entry.user.current_user?(current_user) %>
          <%= link_to t(".edit"), edit_entry_path(@entry), class: "btn btn-success" %>
          <%= link_to t(".delete"), @entry, method: :delete,
            data: { confirm: t(".confirm") }, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="entry">
    <%= @entry.content %>
  </div>
</div>
<h3><%= t ".comments" %> (<%= @entry.comments.count%>)</h3>
<% if logged_in? %>
  <%= render "comment_form" %>
<% else %>
  <%= link_to t(".login"), login_path, class: "center-text btn btn-info" %>
<% end %>
<%= render "comments/comment", comment: @comment %>


